mat-toolbar{
    padding-left: 50px;
    padding-right: 50px;
    background: var(--postit-3);
}
.menu{
    color: var(--primary);
}
.account{
    background: var(--primary);
    color: white;
}
fa-icon{
    font-size: 22px;
}